#game_div{
  text-align: center;
}

canvas {
 
  background-color: #c2946c;
  padding: 5px;
  margin: 80px;
  border-width: 20px;
  border-color: rgb(229, 233, 240);
  border-style: solid;
 
}

body {
  background-color: transparent;
  border-color: #BDB76B; 
  background-image: url("assets/field.png");
}

#sprite {
display: none;
}

#deadsprite {
display: none;
}

#car1{
  display: none;
  }

#car2{
  display: none;
    }

#car3{
  display: none;
    }

#car4{
  display:none;
}

#car5{
  display:none;
}

#dirt{
  display: none;
  }

#frog{
  display: none;
    }

#ball{
  display: none;
    }


#trophy1{
  display:none;
    }
#trophy2{
  display:none
}

#trophy3{
  display:none
}
#trophy4{
  display:none

}
#log1{
  display:none;
    }
#log2{
  display:none
}

#log3{
  display:none
}
#log4{
  display:none
}
    
#redflag{
  display: none;
  }

#fans{
  display: none;
  }

