#game_div{
  text-align: center;
}

canvas {
  background-color: #c2946c;
  padding: 5px;
  margin: 10px;
  border-width: 60px;
  border-color: #86947a;
  border-style: solid;
 
}

body {
  border-color: #86947a; 
}

#sprite {
display: none;
}

#deadsprite {
display: none;
}

#car1{
  display: none;
  }


