
body{
  background-image: url(images/Fans1.png);
  display: flex;
  justify-content: center;
    /* Center and scale the image nicely */
    background-position: none /* Center the image */
   
}

canvas{
  background: rgb(211, 213, 214);
  border: 8px solid gray;

}

